.material-icons.md-18 {
    font-size: 18px;
}

.material-icons {
    display: block;
}

.card {
    margin-bottom: 1rem;
}
pre {
    border-radius: 5px;
    background-color: #e6e6e6;
    overflow: hidden;
}
.userIcon {
    border-radius: 40px;
    width: 80px;
}
.miniIcon {
    border-radius: 18px;
    width: 36px;
}
#newUpdate {
    display:none;
}